@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  padding: 0;
  font-family: sans-serif;
  src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('TTF');

}

h1  {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #6ccac4;
}
